body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

nav {
    height: 15vh;    
    width: 100vw;

    display: flex;
    align-items: center;

    border-bottom: 0.4vh solid black;
}

a {
    color: black;
    text-decoration: none;
}

#logo {
    height: 15vh;
    margin-left: 2.5vw;
}

#title {
    font-size: 5vh;
    font-family: 'Rubik', sans-serif;
}

#menu {
    width: 89vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#banner-container {
    height: 84.6vh;
    width: 100vw;
    position: relative;
}

#banner {
    height: 84.6vh;
    width: 100vw;

    object-fit: cover;
}

#banner-text-container {
    position: absolute;
    left: 0;
    top: 0;

    height: 84.6vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-text-container > h2 {
    font-size: 15vh;
    font-family: 'Rubik', sans-serif;

    margin-top: -35vh;
    

    overflow: hidden;
    border-right: .10em solid black;
    white-space: nowrap;
    text-align: center;
   
    animation: typing 3.5s steps(30, end), blink-cursor 1s step-end infinite;;
}

#mobile-menu-icon {
    display: none;
}

.menu-item {
    height: 5vh;
    width: 10vw;

    margin: 1vh;
    font-size: 3vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item:hover {
    font-weight: bold;
}

@keyframes typing {
    from { width: 0 }
    to { width: 45vw }
}

@keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: black; }

}

@media screen and (max-width: 992px) {

    nav {
        height: 11vh;
    }

    #menu {
        display: none;
    }

    #logo {
        height: 11vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    #banner-container {  
        height: 88.6vh;
    }
    
    #banner {
        height: 88.6vh;
    }
    
    #banner-text-container > h2 {

        font-size: 15vw;
        animation: none;
        border-right: none;
    }

    #mobile-menu-icon {
        height: 5vh;
        display: block;
        margin-left: auto;
        margin-right: 4vw;
    }
    
}
