nav {
    display: flex;
    justify-content: center;
}

#map {
    height: 70vh;
    width: 50vw;
}

.map-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 2vh;
}

.item{
    color: white;
    border-radius: 1vh;
    background-color: #362d25;

    width: 60vw;
    padding-left: 2vh;   
    padding-right: 2vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.paragraph{
    font-size: large;
    text-align: justify;
}


@media screen and (max-width: 992px) {

    #map {
        height: 40vh;
        width: 70vw;
    }


    .item {
        width: 70vw;
    }
}
