nav {
    display: flex;
    justify-content: center;
}

#map {
    height: 70vh;
    width: 50vw;
}

.map-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 2vh;
}

.item{
    color: white;
    background-color: #362d25;
    border-radius: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: -5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 60vw;
}

.paragraph{
    text-align: justify;
    font-size: large;
}

@media screen and (max-width: 992px) {

    #map {
        height: 40vh;
        width: 70vw;
    }

    .item {
        width: 70vw;
    }
    
}