.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rse-text-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 55vw;
}

.item{
    background-color: #413b35;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin: 2.5vh;
    padding: 2vh;
    color: white;
}